.Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Header img {
  width: 150px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.Header h3 {
  margin: 10px;
}
